@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme{
  --color-oniria_blue: #214d72;
  --color-oniria_purple: #9675bc;
  --color-oniria_pink: #f1b3be;
  --color-oniria_lightpink: #ffe0db;
  --color-oniria_darkblue: #252c3e;
  
  /*fonts*/
  --font-inter:"Inter", sans-serif;
  --font-playfair:"Playfair Display", serif;
}